* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

:root {
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'Anonymous Pro', monospace;
    --main-color: #ED7F1F;
    --secondary-color: #34B84A;
    --white: #fafafa;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: var(--main-font)
}

/* End of Common Styles */

/* Navbar */
.navbar {
    width: 100%;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: -8rem;
    /* padding: 3rem; */
    z-index: 10;
    animation: navbarChange 1s 0.5s forwards;
    transition: height 0.5s;
}

.navbar.change {
    height: 100vh;
}

@keyframes navbarChange {
    0% {
        top: -8rem;
    }

    100% {
        top: 0;
    }
}

.navbar-logo {
    color: #000;
    font-size: 2rem;
    position: absolute;
    background-color: #DD7219;
    background-color: var(--main-color);
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 8px;
    z-index: 200;

}

.navbar-logo-run {
    color: #fafafa;
}

.menu {
    width: 4rem;
    height: 4rem;
    position: fixed;
    z-index: 500;
    top: 2rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;

}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    transition: transform 0.3s;
}

.line-1 {
    width: 50%;
}

.line-3 {
    width: 50%;
    margin-left: auto;
}

.rotate {
    animation: spin;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;


}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(45deg);
    }
}

.change .line-1 {
    transform: translateY(1rem) rotate(90deg);
    transform-origin: right;
    margin-bottom: -10px;

}

.change .line-2 {
    transform: translateY(-1rem) rotate(deg);
    transform-origin: right;
}

.change .line-3 {
    transform: translateY(1rem) rotate(90deg);
    transform-origin: left;
    margin-top: -30px
}

.nav-list {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s;
}

.change .nav-list {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s 0.5s;
}

.nav-link {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    color: #fff;
    margin: 2rem 0;
    transition: color 0.4s;
    text-decoration: none;
}

.nav-link:hover {
    color: #ED7F1F;
}

/*  End of Navbar */

/* Section 1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background: url(images/forest.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.hometext {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.hometext-heading {
    font-family: var(--main-font);
    font-size: 10rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #fafafa;
    -webkit-text-stroke: 2.5px #000;

}

.hometext-heading-2 {
    margin-top: -5rem;
    font-family: var(--main-font);
    font-size: 10rem;
    letter-spacing: -6px;
    font-weight: 700;
    color: #fafafa;
    -webkit-text-stroke: 2.5px #000;

}

.hometext-btn {
    width: 30rem;
    height: 6rem;
    background-color: #34B84A;
    background-color: var(--main-color);
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 0.2rem solid #000;
    border-radius: 50px;
    box-shadow: 1rem 2rem 3rem rgba(255, 255, 255, 0.5);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    position: relative;
    overflow: hidden;
    animation: fadeAnimation 1s 2s forwards;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.hometext-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left 0.5s;
}

.hometext-btn:hover::before {
    left: 100%;
}

/* End of Section 1 */

/* Section 2 */
.subscribe {
    background-color: #000;
    padding: 4rem;
}

.subscribe-heading {
    color: #fafafa;
    text-align: center;
    letter-spacing: 0.2rem;
    font-family: var(--main-font);
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
}

.subscribe-input {
    display: flex;
    justify-content: space-evenly;
}

input {
    width: 50rem;
    font-size: 2rem;
}

label {
    color: #fafafa;
}

/* End of Section 2 */

/* Section 3 */
.information {
    padding: 4rem;
    background-color: #000;
}

.information-heading {
    color: #fff;
    text-align: center;
    letter-spacing: 0.2rem;
    font-family: var(--main-font);
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
}

.information-container {
    display: flex;
    justify-content: space-around;
}

.information-text-container {
    width: 600px;
    padding: 20px;
}

.information-p {
    color: #fafafa;
    font-size: 1.5rem;
}

iframe {
    border: 2px solid var(--main-color)
}

/* End of Section 3 */

/* Footer */
.footer {
    background-color: var(--main-color);
    padding: 4rem 0 2rem 0;
}

.footer-heading {
    text-align: center;
    font-family: var(--main-font);
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
}

.footer-list {
    display: flex;
    justify-content: center;
}

.footer-social i {
    /* font-weight: 100; */
    color: #000;
    margin: 3rem 2rem;
    transition: 0.3s ease-out;
}

.footer-social i:hover {
    color: #fff;
    cursor: pointer;
}

.footer-link {
    margin-top: 2rem;
    margin-bottom: 0 2rem;
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    border-radius: 8px;
    /* background-color: var(--main-color); */
    padding: 0.5rem 4rem;
    letter-spacing: 0.3rem;
    transition: all 0.3s;
}

.footer-link:hover {
    box-shadow: 0 2rem 3rem #000;
    color: #fafafa;
}

.footer-paragraph {
    text-align: center;
    font-size: 1rem;
    margin-top: 5rem;
}

/* End of Footer */

/* CONTACT FORM */

.contact-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.contact-form-heading {
    text-align: center;
    font-size: 5rem;
    color: #fafafa;
    font-weight: 600;
}

.contact-form-p {
    font-size: 2rem;
    text-align: center;
    color: #fafafa;
}

.contact-form-p,
input,
textarea,
label {
    font-family: var(--main-font)
}

.contact-form-container {
    background-color: #000000;
    background-image: linear-gradient(-147deg, #000000 0%, #434343 74%);
    height: 600px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--main-color);
    border-radius: 25px;
    box-shadow: 20px 20px rgba(255, 255, 255, .65);
    transition: all .4s ease;

}

.contact-form-container:hover {
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    box-shadow: 10px 10px rgba(0, 0, 0, .25);
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

input,
textarea,
label {
    font-size: 1.6rem;
    margin: 5px 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #fafafa;
}

input,
textarea {
    /* background-color: transparent; */
    border: 0;
}

input[type=submit] {
    padding: 15px 0;
    color: #000;
    font-size: 1.6rem;
    border-bottom: none;
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s ease;

}

input[type=submit]:hover {
    background: var(--main-color);
    color: var(--white);
}

input,
textarea {
    color: #000;
    font-size: 1.6rem;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 2px solid var(--main-color);
}

/* PRO-TIPS PAGE */
.tips {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.tips-heading {
    margin-top: 10rem;
    text-align: center;
    font-size: 6rem;
    color: var(--white);
}

.tips-list-item {
    font-size: 2rem;
    text-align: center;
    color: var(--white);
}

.tips-sponsors h3 {
    color: var(--white)
}

.fa-solid .fa-badge-check {
    color: var(--main-color);
    font-size: 2rem;
}

/* SMALL FOOTER */

.small-footer {
    background-color: var(--main-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.small-footer-list {
    margin-top: 1rem;
}

.small-footer-list a {
    font-size: 1.5rem;
}

.small-footer-social {
    display: inline-block;
}

.small-footer-social i {
    font-size: 2rem;
    margin: 0 2rem;
}

/* TRAILS PAGE */

.trails {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.trails h1 {
    text-align: center;
    font-size: 6rem;
    color: var(--white);
}

.trails-container {
    display: flex;

}

.box {
    height: 600px;
    width: 400px;
    padding: 1rem;
    border: 1px solid white;
    margin: 1rem;
    color: white;
    font-size: 1.6rem;
}