* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

:root {
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'Anonymous Pro', monospace;
    --main-color: #ED7F1F;
    --secondary-color: #34B84A;
    --white-color: #fafafa;
    --black-color: #000;
    --gradient: linear-gradient(315deg, rgba(247, 180, 20, 1) 0%, rgba(237, 127, 31, 1) 100%);
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: -8rem;
    z-index: 10;
    animation: navbarChange 1s 0.4s forwards;
    transition: height 0.4s;
}

.navbar.drop {
    height: 100vh;
}

@keyframes navbarChange {
    0% {
        top: -8rem;
    }

    100% {
        top: 0;
    }
}

.navbar-logo {
    color: var(--black-color);
    font-family: var(--main-font);
    font-size: 2rem;
    position: absolute;
    background: var(--gradient);
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 8px;
    z-index: 200;

}

.navbar-logo-run {
    color: var(--white-color);
}

.lines-menu {
    width: 4rem;
    height: 4rem;
    position: fixed;
    z-index: 500;
    top: 2rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: var(--white-color);
    transition: transform 0.2s;
}

.line-1 {
    width: 50%;
}

.line-3 {
    width: 50%;
    margin-left: auto;
}

.spin {
    animation: spin;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(45deg);
    }
}

.rotatechange .line-1 {
    transform: translateY(1rem) rotate(90deg);
    transform-origin: right;
    margin-bottom: -10px;

}

.rotatechange .line-2 {
    transform: translateY(-1rem) rotate(deg);
    transform-origin: right;
}

.rotatechange .line-3 {
    transform: translateY(1rem) rotate(90deg);
    transform-origin: left;
    margin-top: -30px
}

.nav-list {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s;
}

.drop .nav-list {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s 0.5s;
}

.nav-link {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    color: var(--white-color);
    margin: 2rem 0;
    transition: color 0.4s;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--main-color);
}

/*  End of Navbar */

/* Section 1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background: url(images/angel-santos-_rdqPj1udaQ-unsplash.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.hometext {
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.hometext-heading {
    font-family: var(--main-font);
    font-size: 10rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white-color);
    -webkit-text-stroke: 2.5px #000;

}

.hometext-heading-2 {
    margin-top: -5rem;
    font-family: var(--main-font);
    font-size: 10rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white-color);
    -webkit-text-stroke: 2.5px #000;

}

.hometext-btn {
    width: 30rem;
    height: 6rem;
    background: var(--gradient);
    color: var(--black-color);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 0.2rem solid #000;
    border-radius: 50px;
    box-shadow: 1rem 2rem 3rem rgba(255, 255, 255, 0.5);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    position: relative;
    overflow: hidden;
    animation: fadeAnimation 1s 2s forwards;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.hometext-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fafafa, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left 0.5s;
}

.hometext-btn:hover::before {
    left: 100%;
}

/* Responsive */
@media screen and (max-width:1024px) {
    .section-1 {
        background-position: 60% 0;
    }

    .hometext-heading {
        font-size: 8rem;
    }

    .hometext-heading-2 {
        font-size: 8rem;
    }
}

@media screen and (max-width:768px) {
    .hometext-heading {
        font-size: 10em;
        margin-bottom: 2rem;
    }

    .hometext-heading-2 {
        font-size: 10em;
    }
}

@media screen and (max-width:425px) {
    .hometext {
        position: absolute;
        top: 40%;
        left: 50%;
    }

    .hometext-heading {
        font-size: 5rem;
        margin-bottom: 3rem;
    }

    .hometext-heading-2 {
        font-size: 5rem;
    }
}

/* End of Section 1 */

/* Section 2 */
.sponsors {
    width: 100%;
    background-color: var(--black-color);
    padding: 4rem;
}

.sponsors-heading {
    color: var(--white-color);
    text-align: center;
    letter-spacing: 0.2rem;
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.sponsors-container {
    display: flex;
    justify-content: center;
}

.sponsor-1 {
    width: 200px;
    min-height: 200px;
    margin: 0 30px;
    background: url(images/nike.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsor-2 {
    width: 200px;
    min-height: 200px;
    margin: 0 30px;
    background: url(images/under.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sponsor-3 {
    width: 200px;
    min-height: 200px;
    margin: 0 30px;
    background: url(images/mtn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width:768px) {}

/* End of Section 2 */

/* Section 3 */
.information {
    width: 100%;
    padding: 4rem;
    background-color: var(--black-color);
}

.information-heading {
    color: var(--white-color);
    text-align: center;
    letter-spacing: 0.2rem;
    font-family: var(--main-font);
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
}

.information-container {
    display: flex;
    justify-content: space-around;
}

.information-text-container {
    width: 600px;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.information-p {
    text-align: center;
    color: var(--white-color);
    padding: 20px;
    font: 1.5rem var(--secondary-font);
}

iframe {
    border: 2px solid var(--secondary-color)
}

.subscribe {
    width: 100%;
    background-color: var(--black-color);
    padding: 4rem;
}

.subscribe-heading {
    color: var(--white-color);
    text-align: center;
    letter-spacing: 0.2rem;
    font: 2rem var(--main-font);
    font-weight: 900;
    text-transform: uppercase;
}

.subscribe-input {
    display: flex;
    justify-content: space-evenly;
}

.subscribe input {
    margin-top: 10px;

    font-size: 2rem;
    background-color: var(--white-color);
}

label {
    color: var(--white-color);
}


@media screen and (max-width:768px) {
    .information-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .information-text-container {
        max-width: 500px;
    }

    .information-p {
        padding: 0 20px;
    }
}

@media screen and (max-width:425px) {
    .information-text-container {
        max-width: 400px;
    }

    iframe {
        max-width: 400px;
    }
}

/* End of Section 3 */

/* Footer */
.footer {
    width: 100%;
    background: var(--gradient);
    padding: 4rem 0 2rem 0;
}

.footer-heading {
    text-align: center;
    font-family: var(--main-font);
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--black-color);
}

.footer-list {
    display: flex;
    justify-content: center;
}

.footer-social i {
    color: var(--black-color);
    margin: 3rem 2rem;
    transition: 0.3s ease-out;
}

.footer-social i:hover {
    color: var(--white-color);
    cursor: pointer;
    transform: scale(1.5, 1.5);
}

.footer-link {
    font-family: var(--main-font);
    margin-top: 2rem;
    margin-bottom: 0 2rem;
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    border-radius: 8px;
    padding: 0.5rem 4rem;
    letter-spacing: 0.3rem;
    transition: all 0.3s;
}

.footer-link:hover {
    box-shadow: 0 0.5rem 1rem var(--black-color);
    color: #fafafa;
}

.footer-paragraph {
    font-family: var(--main-font);
    text-align: center;
    font-size: 1rem;
    margin-top: 5rem;
}

.footer-paragraph a {
    text-decoration: none;
    color: var(--black-color)
}

/* End of Footer */

/* CONTACT FORM */

.contact-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/brian-erickson-FjgQIivGkzo-unsplash.jpg) no-repeat;
    background-size: cover;

}

.contact-form-heading {
    font-family: var(--main-font);
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    color: #000;
    font-weight: 800;
}

.contact-form-p,
input,
textarea,
label {
    font-family: var(--secondary-font);
    background-color: rgba(255, 255, 255, 0.1);
}

.contact-form-container {
    background-color: rgba(255, 255, 255, 0.3);
    height: 600px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--main-color);
    border-radius: 8px;

}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

input {
    width: 50rem;
    font-size: 3rem;
}

input,
textarea,
label {
    font-size: 2rem;
    font-weight: 300;
    margin: 5px 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #000;
}

input,
textarea {
    border: 0;
}

input[type=submit] {
    padding: 15px 0;
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
    border-bottom: 2px solid var(--main-color);
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.6s ease-out;
}

input[type=submit]:hover {
    background: var(--gradient);
    color: var(--white);
}

input,
textarea {
    color: #000;
    font-size: 1.6rem;
    padding: 10px;
}

input:focus,
textarea:focus {
    border-bottom: 2px solid var(--main-color);
}

/* PRO-TIPS PAGE */
.tips {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/chermiti-mohamed-FdsqHM4fawg-unsplash.jpg) no-repeat;
    background-position: center center;
}

.tips-container {
    background-color: rgba(255, 255, 255, 0.473);
    max-height: 600px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
}

.tips-heading {
    text-align: center;
    font-size: 6rem;
    color: var(--white);
    font-family: var(--main-font);
}

.tips-container p {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
    font-family: var(--main-font);
}

ul li {
    font-family: var(--secondary-font);
    list-style: none;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    padding: 5px 5px;
    line-height: 1.6;
}

/* Responsive PRO-TIPS */
@media(max-width:768px) {
    .tips-heading {
        font-size: 4rem;
    }

    .tips {
        padding: 15px;
    }

    ul li {
        font-size: 1.3em;
    }
}

@media screen and (max-width:425px) {
    .tips-heading {
        font-size: 3rem;
    }

    .tips {
        padding: 5px;
    }

    ul li {
        font-size: 1em;
        padding: 3px 3px;
    }

}

/* SMALL FOOTER */

.small-footer {
    background: rgb(247, 180, 20);
    background: linear-gradient(315deg, rgba(247, 180, 20, 1) 0%, rgba(237, 127, 31, 1) 100%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.small-footer-list {
    margin-top: 1rem;
}

.small-footer-list a {
    font-size: 1.5rem;
}

.small-footer-list a:hover {
    box-shadow: 0 1px 10px #000;

}

.small-footer-social {
    margin-top: 15px;
    display: inline-block;
}

.small-footer-social i {
    font-size: 3rem;
    margin: 0 2rem;
    padding: 0.5rem;
    transition: 0.3s ease-out;
}

.small-footer-social i:hover {
    color: var(--white-color);
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.footer-paragraph {
    margin: 15px 5px 0 0;
}

@media(max-width:768px) {}

@media screen and (max-width:425px) {}

/* TRAILS PAGE */

.trails {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.trails h1 {
    font-family: var(--main-font);
    margin-bottom: 10px;
    text-align: center;
    font-size: 6rem;
    color: var(--white-color);
}

.trails-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}


.box {
    height: 620px;
    width: 400px;
    font-family: var(--main-font);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    color: white;
    font-size: 1.6rem;
    transition: 0.3s ease-out;
}

.box p {
    font-family: var(--secondary-font);
    padding: 5px 0;
    font-weight: 200;
    font-size: 1.4rem;
}

.box:hover {
    border: 1px solid white;
    box-shadow: 0px 1px 19px 11px rgba(255, 255, 255, 0.75);
}

.box-image {
    height: 300px;
    width: 100%;
    background-size: cover;
}

.fas.fa-star {
    color: orange;
}

@media(max-width:1024px) {
    .trails h1 {
        margin-top: 10rem;
    }

    .trails-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}

@media(max-width:768px) {
    .trails-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
}